name: Publish Docker Images

on:
  push:
  schedule:
    - cron: 0 0 * * 0

jobs:
    build:
        runs-on: ubuntu-20.04

        strategy:
            fail-fast: true
            matrix:
                include:
                    -   directory: "images/php/8.1-cli"
                        image: "chapterjason/php"
                        tag: "8.1-cli"
                    -   directory: "images/php/8.1-cli-node"
                        image: "chapterjason/php"
                        tag: "8.1-cli-node"
                    -   directory: "images/php/8.1-fpm"
                        image: "chapterjason/php"
                        tag: "8.1-fpm"
                    -   directory: "images/php/8.1-fpm-node"
                        image: "chapterjason/php"
                        tag: "8.1-fpm-node"
                    -   directory: "images/symfony-php/8.1-fpm"
                        image: "chapterjason/symfony-php"
                        tag: "8.1-fpm"
                    -   directory: "images/symfony-php/8.1-fpm-node"
                        image: "chapterjason/symfony-php"
                        tag: "8.1-fpm-node"
                    -   directory: "images/symfony-php/8.1-cli"
                        image: "chapterjason/symfony-php"
                        tag: "8.1-cli"
                    -   directory: "images/symfony-php/8.1-cli-node"
                        image: "chapterjason/symfony-php"
                        tag: "8.1-cli-node"
                    -   directory: "images/symfony-caddy/2-builder-alpine"
                        image: "chapterjason/symfony-caddy"
                        tag: "2-builder-alpine"
        steps:
            -   uses: actions/checkout@v2
            -   name: Docker Login
                uses: docker/login-action@v1
                with:
                    username: chapterjason
                    password: ${{ secrets.DOCKERHUB_TOKEN }}
                    
            -   name: Extract metadata (tags, labels) for Docker
                id: meta
                uses: docker/metadata-action@v3
                with:
                    images: ${{ matrix.image }}
                    tags: type=raw,value=${{ matrix.tag }}
                    
            -   name: Build and push Docker images
                uses: docker/build-push-action@v2
                with:
                    context: ${{ matrix.directory }}
                    tags: ${{ steps.meta.outputs.tags }}
                    labels: ${{ steps.meta.outputs.labels }}
                    push: true