name: Publish Docker Images

on:
  push:
  schedule:
    - cron: 0 0 * * 0

jobs:
    build:
        runs-on: ubuntu-20.04

        strategy:
            fail-fast: true
            matrix:
                include:
                    -   directory: "./images/php/8.1-cli-alpine"
                        image: "chapterjason/php"
                        tag: "8.1-cli-alpine"
                    -   directory: "./images/php/8.1-cli-node-alpine"
                        image: "chapterjason/php"
                        tag: "8.1-cli-node-alpine"
                    -   directory: "./images/php/8.1-fpm-alpine"
                        image: "chapterjason/php"
                        tag: "8.1-fpm-alpine"
                    -   directory: "./images/php/8.1-fpm-node-alpine"
                        image: "chapterjason/php"
                        tag: "8.1-fpm-node-alpine"
                    -   directory: "./images/symfony-php/8.1-fpm-alpine"
                        image: "chapterjason/symfony-php"
                        tag: "8.1-fpm-alpine"
                    -   directory: "./images/symfony-php/8.1-fpm-node-alpine"
                        image: "chapterjason/symfony-php"
                        tag: "8.1-fpm-node-alpine"
                    -   directory: "./images/symfony-php/8.1-cli-alpine"
                        image: "chapterjason/symfony-php"
                        tag: "8.1-cli-alpine"
                    -   directory: "./images/symfony-php/8.1-cli-node-alpine"
                        image: "chapterjason/symfony-php"
                        tag: "8.1-cli-node-alpine"
                    -   directory: "./images/symfony-caddy/2-builder-alpine"
                        image: "chapterjason/symfony-caddy"
                        tag: "2-builder-alpine"
        steps:
            -   uses: actions/checkout@v2

            -   name: Set up QEMU
                uses: docker/setup-qemu-action@v1

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v1

            -   name: Docker Login
                uses: docker/login-action@v1
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_TOKEN }}
                    
            -   name: Extract metadata (tags, labels) for Docker
                id: meta
                uses: docker/metadata-action@v3
                with:
                    platforms: linux/amd64,linux/arm64,linux/arm/v7
                    images: ${{ matrix.image }}
                    tags: type=raw,value=${{ matrix.tag }}
                    
            -   name: Build and push Docker images
                uses: docker/build-push-action@v2
                with:
                    platforms: linux/amd64,linux/arm64,linux/arm/v7
                    context: ${{ matrix.directory }}
                    tags: ${{ steps.meta.outputs.tags }}
                    labels: ${{ steps.meta.outputs.labels }}
                    push: true